/target
**/*.rs.bk
.cargo
Cargo.lock

.vscode
.cache
.clangd
.vs

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json

# CMake build
build
out

# large assets
logs
bgs
bgms
