[package]
name = "ayaka-script"
description = "First-class script language in Ayaka."
version.workspace = true
edition.workspace = true
authors.workspace = true
categories.workspace = true
keywords.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
ayaka-primitive = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive"] }
trylog = { workspace = true, optional = true }
lalrpop-util = { version = "0.19", features = ["lexer"], optional = true }
regex = { version = "1", features = ["unicode-perl"] }

[build-dependencies]
lalrpop = { version = "0.20", optional = true }

[features]
default = []
parser = ["lalrpop-util", "lalrpop", "trylog"]
